{% load static %}
{% load mathfilters %}
{% load widget_tweaks %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ product_slug }}Modal">
    Get my {{ product }} now!
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="{{ product_slug }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ product_slug }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="{{ product_slug }}dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select an option for your {{ product }}...
                </a>
              
                <div class="dropdown-menu" aria-labelledby="{{ product_slug }}dropdownMenuLink">

                  {% for host in hosts %}
                    {% if product_slug == 'nostr_alias' %}
                      <a class="dropdown-item {{ product_slug }}" href="#" id="{{ host.name|slugify }}" data-host-id="{{ host.pk }}" data-action="{% url 'index' %}">{{ host.name }} - {{ host.sats_per_day_nostr_alias }} sats/day</a>
                    {% elif product_slug == 'tor_bridge' %}
                      <a class="dropdown-item {{ product_slug }}" href="#" id="{{ host.name|slugify }}" data-host-id="{{ host.pk }}" data-action="{% url 'index' %}">{{ host.name }} - {{ host.sats_per_day_tor_bridge }} sats/day</a>
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
        </div>
        <form action="/" id="{{ product_slug }}Form" method="post">
          {% csrf_token %}
          <input type="hidden" id="product_type" name="product_type" value="{{ product_slug }}">
          <input type="hidden" id="action_type" name="action_type" value="purchase">
          <input type="hidden" id="{{ product_slug }}Host_id" name="{{ product_slug }}Host_id" value="">
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          
          <div class="modal-body text-center">
            {% for host in hosts %}
              <div id="{{ host.name|slugify }}_info" data-hostname="{{ host.name|slugify }}" class="product_info {{ product_slug }} mb-3" >
                <h1 class="mb-3">{{ host.name }}</h1>
                <div id="{{ product_slug }}Description" class="mb-2 mt-2"><i>{{ host.description }}</i></div><br>
                {% if product_slug == 'tor_bridge' %}
                <strong>IP:</strong> <span id="{{ product_slug }}IP"><i>{{ host.ip }}</i></span> <i class="nc-icon nc-alert-circle-i" title="You will be assigned a random port on this IP"></i><br>
                <strong>Duration:</strong> <span id="{{ product_slug }}Duration"><i>{{ host.duration_readable_tor_bridge }}</i></span> <i class="nc-icon nc-alert-circle-i" title="This is both the billing and active period. Your bridge or alias will be active from the moment of the purchase for this duration. Once this time passes, you will have to renew the product if you want to continue using it"></i><br>
                <strong>Opening fee:</strong> <span id="{{ product_slug }}InitialFee"><i>{{ host.tor_bridge_price_initial|div:1000|floatformat }} sats</i></span> <i class="nc-icon nc-alert-circle-i" title="This is the price you will pay for the first period of usage of this product"></i><br>
                <strong>Extension fee:</strong> <span id="{{ product_slug }}ExtensionFee"><i>{{ host.tor_bridge_price_extension|div:1000|floatformat }} sats</i></span> <i class="nc-icon nc-alert-circle-i" title="If you renew the product one or more periods, then you'll pay this price per period"></i><br>
                {% elif product_slug == 'nostr_alias' %}
                <strong>Duration:</strong> <span id="{{ product_slug }}Duration"><i>{{ host.duration_readable_nostr_alias }}</i></span> <i class="nc-icon nc-alert-circle-i" title="This is both the billing and active period. Your bridge or alias will be active from the moment of the purchase for this duration. Once this time passes, you will have to renew the product if you want to continue using it"></i><br>
                <strong>Opening fee:</strong> <span id="{{ product_slug }}InitialFee"><i>{{ host.nostr_alias_price_initial|div:1000|floatformat }} sats</i></span> <i class="nc-icon nc-alert-circle-i" title="This is the price you will pay for the first period of usage of this product"></i><br>
                <strong>Extension fee:</strong> <span id="{{ product_slug }}ExtensionFee"><i>{{ host.nostr_alias_price_extension|div:1000|floatformat }} sats</i></span> <i class="nc-icon nc-alert-circle-i" title="If you renew the product one or more periods, then you'll pay this price per period"></i><br>
                {% endif %}
                
              </div>
                {% endfor %}
                {% if errors and product_slug == submitted_product_type %}
                <div class="alert alert-danger" role="alert">
                  {% for error in errors %}
                    {{ error }}<br>
                  {% endfor %}
                </div>
                {% endif %}
                {% if form.errors %}
                  {% for field in form %}
                    <div class="alert alert-danger">
                    {% for error in field.errors %}
                      {{ error|escape }}<br>
                    {% endfor %}
                    </div>
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error|escape }}<br>
                        {% endfor %}
                    </div>
                  {% endfor %}
                {% endif %}

                {% for field in form %}
                  <div class="mb-4">
                    {{ field.label }}<br>
                    {{ field }}<br>
                    {{ field.help_text }}<br>
                  </div>
                {% endfor %}


                {% for host in hosts %}
                <a class="tos_link {{ product_slug }}" id="{{ host.name|slugify }}_tos" href="{{ host.terms_of_service_url }}" target="_blank">
                <strong>Terms of Service (ToS)</strong>
                </a>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-success mt-4">Accept ToS and Checkout</button>              

          </div>
        </form>
      </div>
    </div>
  </div>
  

{% block js %}
<script src="{% static 'shop/landing/js/core/jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  $(window).on('load', function() {
      $('.product_info.{{ product_slug }}').hide();
      $('.tos_link.{{ product_slug }}').hide();

      $('.dropdown-item.{{ product_slug }}').on('click', function(event) {
        event.preventDefault();
        var hostname = $(this).attr('id');
        var host_id = $(this).attr('data-host-id');
        $('.product_info.{{ product_slug }}').hide();
        $('.tos_link.{{ product_slug }}').hide();
        $('#' + hostname + '_info').show();
        $('#' + hostname + '_tos').show();
        $('#{{ product_slug }}Host_id').attr('value', host_id)
      });

      if ('{{ product_slug }}' == '{{ submitted_product_type }}' && '' != '{{ host_id }}' ){
        
        // Display the corresponding item in the list 
        var hostname = $('.dropdown-item[data-host-id="{{ host_id }}"]').attr('id');
        $('#' + hostname + '_info').show();
        $('#' + hostname + '_tos').show();
        $('#{{ product_slug }}Host_id').attr('value', '{{ host_id }}')
        $('#{{ product_slug }}Modal').modal('show');
      } else {
        // Display the first item in the list and load the first action
        var first_hostname = $('.product_info.{{ product_slug }}').first().attr('data-hostname');
        var first_host_id = $('.dropdown-item.{{ product_slug }}').first().attr('data-host-id');
        $('.product_info.{{ product_slug }}').first().show();
        $('#' + first_hostname + '_tos').show();
        $('#{{ product_slug }}Host_id').attr('value', first_host_id)
      }
  });
</script>
{% endblock js %}