<html>
  <body>
    <h1>Checking status of a node manually</h1>
    <p>
      Check the status of the node in this api endpoint: <br>
      <a href="http://localhost:8000/api/v1/public/lnnodes/lndgrpc/{{pk}}" target="_blank">Check node details (opens new page)</a>
    </p>
    <p>
      Try again an alive check here: <br>
      <a href="http://localhost:8000/charged/lnnode/{{pk}}/alive">Alive check (reloads this page)</a>
    </p>
    <p>
      FLOWer task dashboard (opens new page)
      <br>
      <a href="http://localhost:5555" target="_blank">Flower</a>
    </p>
  </body>
</html>
