{% load humanize %}
{% load mathfilters %}

<div class="card" style="width: 100%">
    
    <div class="card-body">
    
    {% for item in object.item_details.all %}
        {% if object.status == object.PAID %}
            <div class="alert alert-success text-dark" role="alert">
            Success! Your 
            {% if item.product.PRODUCT == 'tor_bridge' %}
                <a href="{% url 'v1:public_tor_bridges-detail' pk=item.product.id %}" target="_blank">{{ item.product.meta.verbose_name }}</a> is now reachable at: <br>
                <a href="http://{{ item.product.host.ip }}:{{ item.product.port }}" target="_blank"><h3>{{ item.product.host.ip }}:{{ item.product.port }}</h3></a>
            {% elif item.product.PRODUCT == 'nostr_alias' %}
                <a href="{% url 'v1:public_nostr_aliases-detail' pk=item.product.id %}" target="_blank">{{ item.product.meta.verbose_name }}</a> is now reachable at: <br>
                <a href="{{ item.product.host.ip }}/{{ item.product.alias }}" target="_blank"><h3>{{ item.product.host.ip }}:{{ item.product.port }}</h3></a>
            {% endif %}
            and points to
            {% if item.product.PRODUCT == 'tor_bridge' %}
                the Tor address<br><h3>{{ item.product.target }}</h3>
            {% elif item.product.PRODUCT == 'nostr_alias' %}
                the Nostr public key<br><h3>{{ item.product.public_key }}</h3>
            {% endif %}
            
        </div>    
            <strong>Hostname: </strong>{{ item.product.host.name }}<br>
            <strong>API link: </strong>
            {% if item.product.PRODUCT == 'tor_bridge' %}
                <a href="{% url 'v1:public_tor_bridges-detail' pk=item.product.id %}" target="_blank">{{ item.product.meta.verbose_name }}</a>
            {% elif item.product.PRODUCT == 'nostr_alias' %}
                <a href="{% url 'v1:public_nostr_aliases-detail' pk=item.product.id %}" target="_blank">{{ item.product.meta.verbose_name }}</a>
            {% endif %}
            <br>
            <strong>IP: </strong>{{ item.product.host.ip }}<br>
            <strong>Port: </strong>{{ item.product.port }}<br>
            <strong>Status: </strong>{{ item.product.get_status_display }}<br>
            <strong>Expriry date: </strong>{{ item.product.suspend_after }} <i class="nc-icon nc-alert-circle-i" title="This product will work until this date. You will need to renew it before this date if you want to keep using it."></i><br>
        {% else %}
            <div class="alert alert-info text-dark" role="alert">
            Pay the Lightning invoice below to get your {{ item.product.meta.verbose_name }} up and running!
            </div>
            <br>
        {% endif %}
        <!-- <hr>
        <strong>Order ID: </strong>{{ object.id }}<br>
        <strong>Created at: </strong>{{ object.created_at }} ({{ object.created_at|naturaltime }})<br>
        <strong>Order status: </strong>{{ object.get_status_display }}<br> -->
        {% if object.message %}
        <strong>Message: </strong>{{ object.message }}<br>
        {% endif %}
        
        <h4><strong>Total price (sats): </strong>{{ object.total_price_sat }}</h4><br>
    {% endfor %}

    </div>
</div>